
h1 {
	text-align: center;
	/* margin-bottom: 30px; */
}
#info {
	margin-bottom: 30px;
	//position: relative;
}	
#instructions {
	position: absolute;
	left: 20px;
	top: 20px;
	color: green;
	font-weight: bold;
}
#scoreSpan {
	position: absolute;
	right: 40px;
	top: 40px;
	color: red;
	font-weight: bold;
}
#leftSide, #rightSide {
	width: 50%;
	height: 80%;
	background: lightyellow;
}

#leftSide {
	position: absolute;
	left: 0;
}

#rightSide {
	position: absolute;
	left: 50%;
	border-left: 1px solid red;
}

img {
	position: absolute;
	width: 50px;
	height: 50px;
}

#gameOver {
	position: absolute;
	background-color: greenyellow;
	padding: 10px;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	left: 0;
}
#gameOver > button {
	background-color: white;
	font-weight: bold;
	padding: 20px;
	border-radius: 10%;
	color: red;
}